* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9dbebb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    height: 594px;
    width: 954px;
    background-color:#BE0909; 
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 50px;
    margin-bottom: 30px;
}

.form-section label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    display: flex;
    margin-top: 20px;
}

.form-section button {
    width: 202px;
    height: 48px;
    background-color: #468189;
    color: white;
    border-radius: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-left: 50px;
}

input, textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9DBEBB;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 15px 0;
    letter-spacing: 5px;
    padding-left: 10px;
}

input::placeholder, 
textarea::placeholder {
    color: white !important;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.orange-bg {
   height: 594px;
   width: 345px;
   position: absolute;
   right: 0;
   background-color: #FFB039;
}

#rubber-duck-image {
    position: relative;
    z-index: 1;
    margin-top: 60px;
}